PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/walletwise
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
